section {
    background-color: pink;
}

body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

#second-section {
    font-family: 'Times New Roman', Times, serif;
}

.main-box,
.second-box {
    border: 5px solid violet;
    box-sizing: border-box;
    width: 250px;
    height: 200px;
    text-align: center;
}

.main-box {
    display: inline-block;
}

.second-box {
    display: inline-block;
}

.main-box:hover {
    background-color: black;
}